In [1]:
# depedencies
import pandas as pd
from sqlalchemy import create_engine

# from password import password

In [ ]:
# enter postgress password
password = 'password'

In [2]:
# create engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/etlproject_db')

In [3]:
# create connecteion 
connection = engine.connect()

In [4]:
# download csv file 
csv_file = "Resources/FanGraphs Leaderboard (3).csv"

In [5]:
# turn csv 
df_file = pd.read_csv(csv_file)

In [6]:
df_file.head()

,Name,playerid,Team,Pos,PA,IP,Primary WAR,Total WAR
0,Mike Trout,10155,Angels,CF,600.0,NaN,8.649872,8.6
1,Alex Bregman,17678,Astros,3B/SS,690.0,NaN,8.486089,8.5
2,Christian Yelich,11477,Brewers,RF,580.0,NaN,7.779215,7.8
3,Cody Bellinger,15998,Dodgers,RF,660.0,NaN,7.770251,7.8
4,Jacob deGrom,10954,Mets,P,NaN,204.0,6.997415,7.6

In [7]:
# creating column headers 
df_file.columns = ['Name','playerid','Team','Pos','PA','IP','Primary WAR', 'Total WAR']
df_file.head()

,Name,playerid,Team,Pos,PA,IP,Primary WAR,Total WAR
0,Mike Trout,10155,Angels,CF,600.0,NaN,8.649872,8.6
1,Alex Bregman,17678,Astros,3B/SS,690.0,NaN,8.486089,8.5
2,Christian Yelich,11477,Brewers,RF,580.0,NaN,7.779215,7.8
3,Cody Bellinger,15998,Dodgers,RF,660.0,NaN,7.770251,7.8
4,Jacob deGrom,10954,Mets,P,NaN,204.0,6.997415,7.6

In [8]:
# spliting df into position players and pitchers
position_df = df_file.loc[df_file['Pos'] != 'P']
pitcher_df = df_file.loc[df_file['Pos'] == 'P']
position_df.head()

,Name,playerid,Team,Pos,PA,IP,Primary WAR,Total WAR
0,Mike Trout,10155,Angels,CF,600.0,NaN,8.649872,8.6
1,Alex Bregman,17678,Astros,3B/SS,690.0,NaN,8.486089,8.5
2,Christian Yelich,11477,Brewers,RF,580.0,NaN,7.779215,7.8
3,Cody Bellinger,15998,Dodgers,RF,660.0,NaN,7.770251,7.8
5,Marcus Semien,12533,Athletics,SS,747.0,NaN,7.576124,7.6

In [22]:
#dropping IP for position players
# clean_pos_df = position_df.drop('IP',axis=1, inplace=True)
clean_pos_df = position_df.drop(['IP'],axis=1)
print(clean_pos_df)

# dropping PA for pitchers
clean_pitch_df = pitcher_df.drop(['PA'], axis=1)
print(clean_pitch_df)

                   Name  playerid       Team    Pos     PA  Primary WAR  \
0            Mike Trout     10155     Angels     CF  600.0     8.649872
1          Alex Bregman     17678     Astros  3B/SS  690.0     8.486089
2      Christian Yelich     11477    Brewers     RF  580.0     7.779215
3        Cody Bellinger     15998    Dodgers     RF  660.0     7.770251
5         Marcus Semien     12533  Athletics     SS  747.0     7.576124
...                 ...       ...        ...    ...    ...          ...
1405        Chris Davis      9272    Orioles     1B  352.0    -1.321705
1406  Curtis Granderson      4747    Marlins     LF  363.0    -1.378068
1407         Elias Diaz     11680    Pirates      C  332.0    -1.477521
1408      Lewis Brinson     14352    Marlins     CF  248.0    -1.673212
1409        Jeff Mathis      3448    Rangers      C  244.0    -2.120271

      Total WAR
0           8.6
1           8.5
2           7.8
3           7.8
5           7.6
...         ...
1405       -1.4
1406       -1.4
1407       -1.5
1408       -1.7
1409       -2.2

[635 rows x 7 columns]
               Name  playerid       Team Pos     IP  Primary WAR  Total WAR
4      Jacob deGrom     10954       Mets   P  204.0     6.997415        7.6
6       Gerrit Cole     13125     Astros   P  212.1     7.417847        7.3
10       Lance Lynn      2520    Rangers   P  208.1     6.750001        6.7
12     Max Scherzer      3137  Nationals   P  172.1     6.525168        6.6
14     Zack Greinke      1943      - - -   P  208.2     5.407829        6.4
...             ...       ...        ...  ..    ...          ...        ...
1393  Craig Kimbrel      6655       Cubs   P   20.2    -1.054382       -1.1
1394  Derek Holland      4141      - - -   P   84.1    -1.004853       -1.1
1396  Edwin Jackson      1841      - - -   P   67.2    -1.065785       -1.1
1397   Jose Quijada     19200    Marlins   P   29.2    -1.099322       -1.1
1398    Dan Straily      9460    Orioles   P   47.2    -1.136482       -1.1

[775 rows x 7 columns]

In [21]:
clean_pos_df

,Name,playerid,Team,Pos,PA,Primary WAR,Total WAR
0,Mike Trout,10155,Angels,CF,600.0,8.649872,8.6
1,Alex Bregman,17678,Astros,3B/SS,690.0,8.486089,8.5
2,Christian Yelich,11477,Brewers,RF,580.0,7.779215,7.8
3,Cody Bellinger,15998,Dodgers,RF,660.0,7.770251,7.8
5,Marcus Semien,12533,Athletics,SS,747.0,7.576124,7.6
...,...,...,...,...,...,...,...
1405,Chris Davis,9272,Orioles,1B,352.0,-1.321705,-1.4
1406,Curtis Granderson,4747,Marlins,LF,363.0,-1.378068,-1.4
1407,Elias Diaz,11680,Pirates,C,332.0,-1.477521,-1.5
1408,Lewis Brinson,14352,Marlins,CF,248.0,-1.673212,-1.7
1409,Jeff Mathis,3448,Rangers,C,244.0,-2.120271,-2.2

In [23]:
clean_pitch_df

               Name  playerid       Team Pos     IP  Primary WAR  Total WAR
4      Jacob deGrom     10954       Mets   P  204.0     6.997415        7.6
6       Gerrit Cole     13125     Astros   P  212.1     7.417847        7.3
10       Lance Lynn      2520    Rangers   P  208.1     6.750001        6.7
12     Max Scherzer      3137  Nationals   P  172.1     6.525168        6.6
14     Zack Greinke      1943      - - -   P  208.2     5.407829        6.4
...             ...       ...        ...  ..    ...          ...        ...
1393  Craig Kimbrel      6655       Cubs   P   20.2    -1.054382       -1.1
1394  Derek Holland      4141      - - -   P   84.1    -1.004853       -1.1
1396  Edwin Jackson      1841      - - -   P   67.2    -1.065785       -1.1
1397   Jose Quijada     19200    Marlins   P   29.2    -1.099322       -1.1
1398    Dan Straily      9460    Orioles   P   47.2    -1.136482       -1.1

[775 rows x 7 columns]

In [25]:
# sending dataframes to postgress
clean_pos_df.to_sql('position_players',con=engine,index=False, if_exists='replace')

In [26]:
clean_pitch_df.to_sql('pitchers',con=engine,index=False, if_exists='replace')